.gold-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.gold-table th, .gold-table td {
    border: 1px solid black;
    padding: 5px;
    background-color: gold;
    color: black;
}
